---
import Layout from '../layouts/Layout.astro';
import { info } from '../data/config';
import profileImage from '../assets/Alexito.jpg';

import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import TechStack from '../components/TechStack.astro';
import Socials from '../components/Socials.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
---

<Layout title={info.name}>
  <main class="max-w-7xl mx-auto px-6 py-12 space-y-16 text-zinc-300">
    <Hero name={info.name} role={info.role} />
    
    <About bio={info.bio} profileImage={profileImage} name={info.name} />
    
    <TechStack techStack={info.techStack} />
    
    <Socials socials={info.socials} />
    
    <Experience experience={info.experience} techStack={info.techStack} />
    
    <Projects projects={info.projects} techStack={info.techStack} />
    
    <Contact contact={info.contact} />
  </main>
</Layout>